[submodule "FACTS"]
	path = FACTS
	url = https://github.com/yvsriram/FACTS.git
[submodule "b2t"]
	path = b2t
	url = https://github.com/alinlab/b2t.git
[submodule "backend/SEEM"]
	path = backend/SEEM
	url = https://github.com/UX-Decoder/Segment-Everything-Everywhere-All-At-Once.git
[submodule "dimensionality-reduction"]
	path = dimensionality-reduction
	url = https://github.com/fpaulovich/dimensionality-reduction.git
[submodule "group_DRO"]
	path = group_DRO
	url = https://github.com/kohpangwei/group_DRO.git
[submodule "Whac-A-Mole"]
	path = Whac-A-Mole
	url = https://github.com/facebookresearch/Whac-A-Mole.git
